<h1>Add Pin</h1>
<div class="row">
  <form class="col s12" action="/" method="post">
    <div class="row">
      <div class="input-field">
        <label for="type">Type</label>

        <input type="text" name="type" value="">
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <h5>Description</h5>
        <textarea name="description"></textarea>
      </div>
    </div>
    <input type="submit" class="btn" value="save">
  </form>

</div>